.header {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: #242424;
    color: #fff;
    padding: 10px;
    z-index: 1000; /* Обеспечивает, что заголовок будет выше других элементов */
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали */

  }
  
.header__content {
    display: flex;
    width: 250px;
}

  .main__text {
    font-size: 24px;
    margin: 10px 50px 20px 10px;
  }
  
  .burger__menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px; /* Добавляем отступы для удобства нажатия */
  }
  
  /* Стили для меню (скрыто по умолчанию) */
  .nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav__item {
    margin-bottom: 10px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav__link:hover {
    text-decoration: underline;
  }
  
  /* Медиа-запрос для мобильных устройств */
  @media (max-width: 768px) {
    .burger__menu {
      display: block; /* Показываем кнопку на мобильных устройствах */
    }
  }